

/*

    TEMPLATE: MONARCH

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Oxygen');


/* ======= Masthead ======= */

body {
	font-family: "Montserrat",sans-serif;
}
a {
    font-weight: 600;
    font-family: "Montserrat",sans-serif;
}
body.pushable > .pusher {
	background-position: center;
}

.ui.container.intro {margin-top:20px !important;}


/* =======[ NAVIGATION BAR]=======*/

.ui.secondary.menu .toc.item {
	display: none;
}

.ui.secondary.menu .toc.item i {
	margin: 0;
}

.ui.secondary.menu .ui.medium.label {
	padding: .68em 1em .5em .5em;
}

.ui.secondary.menu .ui.medium.label img {
	font-size: 1.09rem;
	margin: -.6em .5em -.6em -.5em;
}

@media only screen and (max-width: 768px) {

	.ui.secondary.menu .menu,
	.ui.secondary.menu .item {
		display: none;
	}

	.ui.secondary.menu .toc.item {
		display: block;
	}
}

.ui.secondary.menu .ui.popup {
	min-width: 200px;
}

.ui.secondary.menu .ui.popup a:not([href]) {
	cursor: default !important;
}

.ui.secondary.menu {
	padding: 20px;
}
.ui.secondary.menu .item {
	color: #fff;
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
	font-size: 1.025rem;
	letter-spacing: -0.04em;
}
.ui.secondary.menu .item:hover {
	color: #fff !important;
}
.ui.secondary.menu .active.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000;
    border-radius: .5px;
}
.ui.secondary.menu .active.item:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000 !important;
    border-radius: .5px;
}
.ui.inverted.link.list .item {
	color: #fff;
}
.ui.segment {
	border-radius: 0px;
}
.ui.fluid.card {
	border-radius: 0px;
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}
.ui.segments {margin-top: 30px;}
.ui.form {margin-top:10px;}

.ui.menu .ui.list .item {
	color: #777;
	font-family: "Montserrat",sans-serif;
}

.ui.menu .ui.list .item:hover {
	color: #000 !important;
	font-family: "Montserrat",sans-serif;
}
.ui.breadcrumb {
	background: #fbfafa;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.ui.breadcrumb a {color: #999;}
.ui.card > .content > .header {
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
}

.masthead.pusher h1 {
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
}
.masthead.pusher a:hover {
	text-decoration: none;
}

/*
 *  [ TOASTR ]
 */

#toast-container {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	width: 100%;
}

#toast-container .toast-close-button {
	color: #000;
	opacity: .4;
}

#toast-container .toast-close-button:hover,
#toast-container .toast-close-button:focus {
	color: #000;
	opacity: .6;
}

#toast-container .toast {
	padding: 1rem 1.5rem;
	background: #fff;
	color: rgba(0, 0, 0, .68);
	-webkit-box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	border: none;
	border-radius: .28571429rem;
	cursor: default;
	opacity: 1;
	transition: .5s all ease;
}

#toast-container .toast-success {
	border-bottom: solid 2px #30B245;
}

#toast-container .toast-success .toast-progress {
	background: #30B245;
}

#toast-container .toast-error {
	border-bottom: solid 2px #CE1D28;
}

#toast-container .toast-error .toast-progress {
	background: #CE1D28;
}

#toast-container .toast-warning {
	border-bottom: solid 2px #EE6A1C;
}

#toast-container .toast-warning .toast-progress {
	background: #EE6A1C;
}

#toast-container .toast-info {
	border-bottom: solid 2px #367DC4;
}

#toast-container .toast-info .toast-progress {
	background: #367DC4;
}

#toast-container .toast:hover {
	-webkit-box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	cursor: default;
}

@media (max-width: 576px) {
	#toast-container .toast {
		width: calc(100% - 24px);
	}
}

#forum-node .nine a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
}
#forum-node .ui.grid .row {
	padding-left: 20px;
}
.floated .primary.button {
	background: {$MONARCH_COLOR} !important;
	padding: 10px 15px;
	border-radius: 0px;
}
.floated .primary.button {
	text-align: center;
	background: #fff !important;
	border: 2px #297ba1 solid;
	color: #297ba1;
	margin: 0 auto 20px auto;
	box-shadow: 0px;
	display: inline-block;
}
.floated .primary.button:hover {
	text-align: center;
	background: #297ba1 !important;
	border: 2px #297ba1 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	display: inline-block;
}
.floated .primary.button:focus {
	text-align: center;
	background: #297ba1 !important;
	border: 2px #297ba1 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	display: inline-block;
}

#form-login .ui.primary.button {
	background: #297ba1 !important;
	padding: 15px 35px;
	border-radius: 0px;
}
#form-login .ui.negative.button {
	background: #db2828 !important;
	padding: 15px 35px;
	border-radius: 0px;
}
#form-register .ui.primary.button {
	background: #297ba1 !important;
	padding: 15px 35px;
	border-radius: 0px;
}
.ui.positive.button {
	background: #20ab41 !important;
	padding: 15px 35px;
	border-radius: 0px;
}
.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="file"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="text"], .ui.form input[type="time"], .ui.form input[type="url"] {
	border: 0px;
	border-bottom: 2px solid #1113;
	border-radius: 0px;
}
.ui.card > .extra a {
	font-family: "Montserrat",sans-serif;
}
.ui.padded.segment {
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}

#navbar .ui.button {
	background:transparent;
	color:#fff;
	text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
}
#navbar .ui.button:hover {background:#fff;color:#111;border-radius: 0px;}
#navbar .ui.image.label {background:#fff;}

#news-post .header {padding:10px 10px;text-align: left;}

#news-post .content .header a {
	font-family: "Montserrat",sans-serif;
	color: #000;
	font-size: 1.4rem;
	font-weight: 600;
}
#news-post .content .header .meta a {
	font-family: "Montserrat",sans-serif;
	color: #999;
	font-size: 1rem;
	font-weight: 600;
}
#news-post .fa-arrow-right {margin-right:6px;}
#news-post .ui.primary.button {
	text-align: center;
	background: #fff;
	border: 2px #000 solid;
	color: #000;
	margin: 0 auto 20px auto;
	box-shadow: 0px;
	display: inline-block;
	font-family: "Montserrat",sans-serif;
}
#news-post .ui.primary.button:hover {
	text-align: center;
	background: #297ba1;
	border: 2px #297ba1 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	box-shadow: 0px;
	display: inline-block;
}
#news-post .mini {
  line-height: 1.28;
  font-size: .90rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0);
  text-shadow: 0 -1px 0 rgba(0,0,0,0);
}
#news-post .description {padding: 10px 20px;}
#news-post .extra {padding: 10px 30px;}
.top-text h2 {
	text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
	font-size: 25px;
	margin-top: 25px;
}
.top-text hr {
	width: 40px;
	border: 2px solid #111;
	margin-bottom: 35px;
}
.ui.menu:not(.vertical) .right.menu{display:-webkit-box;display:-ms-flexbox;display:flexbox;margin-left:auto!important}
.pushable > .pusher {min-height: 0;}

.ui.sidebar.menu .item {
	font-family: "Montserrat",sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}
.ui.inverted.link.list .item a:hover {
	color: #fff !important;
	text-decoration: none;
}

.ui.table thead tr:first-child > th:only-child {
	border-radius: 4px;
border: none;
color: white;
background: #297ba1;
padding: 17px 19px 13px;
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0 2px 2px;
}
.ui.table thead tr:first-child {
	border-radius: 4px;
border: none;
color: white;
background: #297ba1;
padding: 17px 19px 13px;
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0 2px 2px;
}

/* ======= Generic section styling ======= */
.section {
  padding-top: 40px;
  padding-bottom: 30px;
}
.section-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 32px;
  position: relative;
  padding-bottom: 5px;
}
.section-title:after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 60px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.text-center {
    text-align: center;
}

/* ======= Contact Section ======= */
.contact-section {
  background: #297ba1;
  color: #fff;
	margin-top: 35px;
}
.contact-section a {
  color: #fff;
}
.contact-section a:hover {
  color: #fff;
}
.contact-section .section-title {
  margin-bottom: 30px;
  color: #fff;
}
.contact-section .section-intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 16px;
}
.contact-section .contact-block .item {
  margin-bottom: 30px;
}
.contact-section .contact-block .title {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}
.contact-section .contact-block .icon-holder {
  margin-bottom: 15px;
}
.contact-section .contact-block .fa {
  margin-right: 5px;
  color: #fff;
  font-size: 24px;
}
.contact-section .channels-list {
  margin-bottom: 45px;
}
.contact-section .channels-list li {
  margin-right: 15px;
  margin-bottom: 15px;
}
.contact-section .channels-list li:last-child {
  margin-right: 0;
}
.contact-section .channels-list a {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.contact-section .channels-list a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.contact-section .social-media-list {
  margin-bottom: 0;
}
.contact-section .social-media-list a {
	color: #fff;
}
.contact-section .social-media-list a:hover {
  color: rgba(255, 255, 255, 0.4);
}
.contact-section .social-media-list li {
  margin-right: 15px;
  margin-bottom: 15px;
}
.contact-section .social-media-list li:last-child {
  margin-right: 0;
}
.contact-section .social-media-list .fa {
  font-size: 36px;
}

.ui.footer.segment {
    margin: 0;
    padding: 0;
}

.modal-backdrop {
    z-index: 0 !important;
}
.modal-backdrop.show {
	opacity: 0 !important;
}

.nav-tabs .nav-link {
	font-family: "Montserrat",sans-serif;
}

.tab-content .btn-primary {
	background: #297ba1 !important;
	padding: 8px 17px;
	border-radius: 0px;
}‚