

/*

    TEMPLATE: MONARCH

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Oxygen');

@font-face {
	font-family: 'PxGroteskRegular';
	src:
		url('/custom/templates/Monarch/webfonts/Px-Grotesk-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'BasierSquareRegular';
	src:
	url("Basier-Square-Regular.otf") format("opentype");
}

/* ======= Masthead ======= */

body {
	font-family: "BasierSquareRegular",
	sans-serif;
}
a {
    font-weight: 600;
    font-family: "BasierSquareRegular",
    sans-serif;
}
body.pushable > .pusher {
	background-position: center;
}

h1,
h2,
h3,
h4,
h5 {
font-family: "BasierSquareRegular",
sans-serif;
}

.ui.container.intro {margin-top:20px !important;}


/* =======[ NAVIGATION BAR]=======*/

.ui.header {
	font-family: 'PxGroteskRegular';
}

.ui.secondary.menu .toc.item {
	display: none;
}

.ui.secondary.menu .toc.item i {
	margin: 0;
}

.ui.secondary.menu .ui.medium.label {
	padding: .68em 1em .5em .5em;
}

.ui.secondary.menu .ui.medium.label img {
	font-size: 1.09rem;
	margin: -.6em .5em -.6em -.5em;
}

@media only screen and (max-width: 768px) {

	.ui.secondary.menu .menu,
	.ui.secondary.menu .item {
		display: none;
	}

	.ui.secondary.menu .toc.item {
		display: block;
	}
}

.ui.secondary.menu .ui.popup {
	min-width: 200px;
}

.ui.secondary.menu .ui.popup a:not([href]) {
	cursor: default !important;
	font-family: "BasierSquareRegular",sans-serif;
}
.ui.menu .ui.list>.item:last-child {
	font-family: "BasierSquareRegular",
	sans-serif;
}
.ui.secondary.menu {
	padding: 20px;
}
.ui.secondary.menu .item {
	color: #fff;
	font-family: "PxGroteskRegular",
	sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.04em;
}
.ui.secondary.menu .item:hover {
	color: #fff !important;
}
.ui.secondary.menu .active.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000;
		border-radius: .5px;
		font-size: 16px;
}
.ui.secondary.menu .active.item:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000 !important;
    border-radius: .5px;
}
.ui.inverted.link.list .item {
	color: #fff;
	font-family: 'PxGroteskRegular';
}
.ui.segment {
	border-radius: 0px;
}
.ui.fluid.card {
	border-radius: 0px;
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}
.ui.segments {margin-top: 30px;}
.ui.form {margin-top:10px;}

.ui.menu .ui.list .item {
	color: #777;
}

.ui.menu .ui.list .item:hover {
	color: #000 !important;
	font-family: "Montserrat",sans-serif;
}
.ui.breadcrumb {
	background: #fbfafa;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.ui.breadcrumb a {color: #999;}
.ui.card > .content > .header {
	font-weight: 600;
}

.ui.popup>.header {
	font-family: "PxGroteskRegular";
}
.ui.popup>.header:hover {
	font-family: "PxGroteskRegular";
}
.ui.popup>.header:focus {
	font-family: "PxGroteskRegular";
}
.ui.card img.avatar {
	border-radius: 5px;
}
.ui.avatar.image {
	border-radius: 5px;
	width: 3em;
	height: 3em;
}
.ui.primary.button {
	background: #000;
}

.masthead.pusher h1 {
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
}
.masthead.pusher a:hover {
	text-decoration: none;
}
.ui.menu {
	border-radius: 0px;
}

/*
 *  [ TOASTR ]
 */

#toast-container {
	font-family: 'PxGroteskRegular';
	width: 100%;
}

#toast-container .toast-close-button {
	color: #000;
	opacity: .4;
}

#toast-container .toast-close-button:hover,
#toast-container .toast-close-button:focus {
	color: #000;
	opacity: .6;
}

#toast-container .toast {
	padding: 1rem 1.5rem;
	background: #fff;
	color: rgba(0, 0, 0, .68);
	-webkit-box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	border: none;
	border-radius: .28571429rem;
	cursor: default;
	opacity: 1;
	transition: .5s all ease;
}

#toast-container .toast-success {
	border-bottom: solid 2px #30B245;
}

#toast-container .toast-success .toast-progress {
	background: #30B245;
}

#toast-container .toast-error {
	border-bottom: solid 2px #CE1D28;
}

#toast-container .toast-error .toast-progress {
	background: #CE1D28;
}

#toast-container .toast-warning {
	border-bottom: solid 2px #EE6A1C;
}

#toast-container .toast-warning .toast-progress {
	background: #EE6A1C;
}

#toast-container .toast-info {
	border-bottom: solid 2px #367DC4;
}

#toast-container .toast-info .toast-progress {
	background: #367DC4;
}

#toast-container .toast:hover {
	-webkit-box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	box-shadow: 0 1px 3px 0 #bababb, 0 0 1px 1px #bababb;
	cursor: default;
}

@media (max-width: 576px) {
	#toast-container .toast {
		width: calc(100% - 24px);
	}
}

#forum-node .nine a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    font-family: "BasierSquareRegular",
    sans-serif;
    font-size: 16px;
}
#forum-node .ui.grid .row {
	padding-left: 20px;
}
#normal-threads {
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
	border: 0px;
}
#normal-threads thead th {
	border: 0px;
}

.floated .primary.button {
	text-align: center;
	background: #000;
	border: 2px #000 solid;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	margin: 0 auto 20px auto;
	box-shadow: 0px;
	display: inline-block;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.floated .primary.button:hover {
	text-align: center;
	background: #000;
	border: 2px #000 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	display: inline-block;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}
.floated .primary.button:focus {
	text-align: center;
	background: #000 !important;
	border: 2px #000 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	display: inline-block;
}

#form-login .ui.primary.button {
	background: #297ba1 !important;
	padding: 12px 32px;
	border-radius: 0px;
}
#form-login .ui.negative.button {
	background: #db2828 !important;
	padding: 12px 32px;
	border-radius: 0px;
}
#form-register .ui.primary.button {
	background: #297ba1 !important;
	padding: 15px 35px;
	border-radius: 0px;
}
.ui.positive.button {
	background: #20ab41 !important;
	padding: 15px 35px;
	border-radius: 0px;
}
.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="file"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="text"], .ui.form input[type="time"], .ui.form input[type="url"] {
	border: 0px;
	border-bottom: 2px solid #333;
	border-radius: 0px;
}
.ui.card > .extra a {
	font-family: "PxGroteskRegular";
}
.ui.padded.segment {
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}

#navbar .ui.button {
	background:transparent;
	color:#fff;
	text-transform: uppercase;
	font-family: "PxGroteskRegular";
}
#navbar .ui.button:hover {background:#fff;color:#111;border-radius: 0px;}
#navbar .ui.image.label {background:#fff;}

#news-post .header {padding:10px 10px;text-align: left;}

#news-post .content .header a {
	font-family: "PxGroteskRegular";
	color: #000;
	font-size: 1.4rem;
	font-weight: 600;
}
#news-post .content .header .meta a {
	font-family: "PxGroteskRegular";
	color: #999;
	font-size: 1rem;
	font-weight: 600;
}
#news-post .fa-arrow-right {margin-right:6px;}
#news-post .ui.primary.button {
	text-align: center;
	background: #000;
	border: 2px #000 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	display: inline-block;
	font-family: "PxGroteskRegular";
	border-radius: 5px;
}
#news-post .ui.primary.button:hover {
	text-align: center;
	background: #000;
	border: 2px #000 solid;
	color: #fff;
	margin: 0 auto 20px auto;
	display: inline-block;
}
#news-post .mini {
  line-height: 1.28;
  font-size: .90rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0);
  text-shadow: 0 -1px 0 rgba(0,0,0,0);
}
#news-post .description {padding: 10px 20px;}
#news-post .extra {padding: 10px 30px;}
.top-text h2 {
	text-transform: uppercase;
	font-family: "PxGroteskRegular";
	font-weight: 600;
	font-size: 25px;
	margin-top: 25px;
}
.top-text hr {
	width: 40px;
	border: 2px solid #111;
	margin-bottom: 35px;
}
.ui.menu:not(.vertical) .right.menu{display:-webkit-box;display:-ms-flexbox;display:flexbox;margin-left:auto!important}
.pushable > .pusher {min-height: 0;}

.ui.sidebar.menu .item {
	font-family: "PxGroteskRegular";
	text-transform: uppercase;
	font-weight: 600;
}
.ui.inverted.link.list .item a:hover {
	color: #fff !important;
	text-decoration: none;
}

.ui.relaxed.list {
	margin: 10px;
}
.ui.relaxed.list:not(.horizontal)>.item:not(:first-child) {
	padding: 1px;
}
.ui.relaxed.list:not(.horizontal)>.item:not(:last-child) {
	padding: 2px;
	line-height: 1.5;
}

/* ======= Generic section styling ======= */
.section {
  padding-top: 40px;
  padding-bottom: 30px;
}
.section-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 32px;
  position: relative;
  padding-bottom: 5px;
}
.section-title:after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 60px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.text-center {
    text-align: center;
}

/* ======= Contact Section ======= */
.contact-section {
  color: #fff;
}
.contact-section a {
  color: #fff;
}
.contact-section a:hover {
  color: #fff;
}
.contact-section .section-title {
  margin-bottom: 30px;
  color: #fff;
}
.contact-section .section-intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 16px;
}
.contact-section .contact-block .item {
  margin-bottom: 30px;
}
.contact-section .contact-block .title {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}
.contact-section .contact-block .icon-holder {
  margin-bottom: 15px;
}
.contact-section .contact-block .fa {
  margin-right: 5px;
  color: #fff;
  font-size: 24px;
}
.contact-section .channels-list {
  margin-bottom: 45px;
}
.contact-section .channels-list li {
  margin-right: 15px;
  margin-bottom: 15px;
}
.contact-section .channels-list li:last-child {
  margin-right: 0;
}
.contact-section .channels-list a {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.contact-section .channels-list a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.contact-section .social-media-list {
  margin-bottom: 0;
}
.contact-section .social-media-list a {
	color: #fff;
}
.contact-section .social-media-list a:hover {
  color: rgba(255, 255, 255, 0.4);
}
.contact-section .social-media-list li {
  margin-right: 15px;
  margin-bottom: 15px;
}
.contact-section .social-media-list li:last-child {
  margin-right: 0;
}
.contact-section .social-media-list .fa {
  font-size: 36px;
}

.ui.footer.segment {
    margin: 0;
    padding: 0;
}
.pre-footer {
	background:#f3f3f3;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 9rem;
}
.pre-footer h3 {
	font-family: 'PxGroteskRegular';
}
.pre-footer a {
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0;
	display: inline-block;
	margin-top: 10px;
	color: #000;
	text-decoration: none;
}

.modal-backdrop {
    z-index: 0 !important;
}
.modal-backdrop.show {
	opacity: 0 !important;
}

.nav-tabs .nav-link {
	font-family: "Montserrat",sans-serif;
}
.profile-data {
	margin-top: 40px;
}
.profile-data .col-md-9 {
	padding: 0px;
}
.profile-data .avatarHeap .userAvatarImage {
	width: 48px;
	height: 48px;
}
@media only screen and (min-width: 768px) {
	.mobile-hide {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 768px) {
	.desktop-hide {
		display: none;
		visibility: hidden;
	}
}


#profile-header .profile-nickname span {
	text-shadow: 2px 2px 25px rgba(255, 255, 255, 0.7);
}

/*
 *  [ USER BADGES ]
 */

#news-post .badge {
	float: right;
}

.badge {
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	margin: 0 .14285714em;
	background-color: #e8e8e8;
	background-image: none;
	padding: .5833em .833em;
	color: rgba(0, 0, 0, .6);
	text-transform: none;
	font-size: .85714286rem;
	font-weight: 700;
	border: 0 solid transparent;
	border-radius: .28571429rem;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
}

a.badge:hover,
a.badge:focus {
	text-decoration: none;
}

.badge:empty {
	display: none;
}

.badge-primary {
	color: #fff;
	background-color: #007bff;
}

a.badge-primary:hover,
a.badge-primary:focus {
	color: #fff;
	background-color: #0062cc;
}

.badge-secondary {
	color: #fff;
	background-color: #6c757d;
}

a.badge-secondary:hover,
a.badge-secondary:focus {
	color: #fff;
	background-color: #545b62;
}

.badge-success {
	color: #fff;
	background-color: #28a745;
}

a.badge-success:hover,
a.badge-success:focus {
	color: #fff;
	background-color: #1e7e34;
}

.badge-info {
	color: #fff;
	background-color: #17a2b8;
}

a.badge-info:hover,
a.badge-info:focus {
	color: #fff;
	background-color: #117a8b;
}

.badge-warning {
	color: #212529;
	background-color: #ffc107;
}

a.badge-warning:hover,
a.badge-warning:focus {
	color: #212529;
	background-color: #d39e00;
}

.badge-danger {
	color: #fff;
	background-color: #b71826;
	padding: 12px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
}

a.badge-danger:hover,
a.badge-danger:focus {
	color: #fff;
	background-color: #bd2130;
}

.badge-light {
	color: #212529;
	background-color: #f8f9fa;
}

a.badge-light:hover,
a.badge-light:focus {
	color: #212529;
	background-color: #dae0e5;
}

.badge-dark {
	color: #fff;
	background-color: #343a40;
}

a.badge-dark:hover,
a.badge-dark:focus {
	color: #fff;
	background-color: #1d2124;
}

.ui.list>.item [class*="right floated"] {
	margin: 0px;
}