/*

    VERSION: 2.0
    URL: https://jonafeucht.de
    AUTHOR: Jona Feucht


*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Montserrat|Roboto');
body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-size: 13px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: rgb(55, 71, 79);
    word-wrap: break-word;
    line-height: 1.28;
}
.bg-danger {
	background-color: #C9001D !important;
}

.panel-danger {
	border-color: #C9001D !important;
}

.panel-danger .panel-heading {
	background-color: #C9001D !important;
	border-color: #C9001D !important;
	color: #fff !important;
}

.btn-danger {
	background-color: #C9001D !important;
	color: #fff !important;
}

.home-header {
	background-image: url('../img/bg.jpg');
	padding-top: 5rem;
	height: 450px;
}

.home-header .lg {
	font-size: 125%;
}

.home-footer {
	padding-top: 1rem;
	height: 150px;
	color: rgba(255,255,255,.5) !important;
	background-color: #000;
}

.home-footer a {
	color: rgba(255,255,255,.5) !important;
}

.home-news {
	background-color: #fff;
}
.home-news
.blue-bg {
	background-color: #54b4eb;
}

.global-header {
	padding-top: 2rem;
}

.white-text {
	color: rgb(33, 150, 243)!important;
}

/*
 *  Temp breadcrumb fix
 */
.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #eceeef;
  border-radius: .25rem;
}

.breadcrumb::after {
  display: table;
  clear: both;
  content: "";
}

.breadcrumb > li {
  float: left;
}

.breadcrumb > li + li::before {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #818a91;
  content: "/";
}

.breadcrumb > .active {
  color: #818a91;
}

/*
 *  Remove auto-caret
 */
.no-caret::after {
	border: none;
}

.custom-nav-exclaim {
	color: red;
}

.jumbotron h1 {
	color: #fff;
}
.jumbotron hr {
	width: 30%;
	border: 1px solid #fff;
}

/* navigation section */
.bg-primary {
	background: #fff;
	border: none;
  border-radius: 0;
  border-color: transparent;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.03);
	height:75px;
}
.navbar-inverse .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(84, 110, 122);
	line-height: 20px;
}
.navbar-inverse .navbar-nav .nav-link:hover {
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(33, 150, 243);
}
.navbar-inverse .navbar-nav .nav-link:focus {
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(33, 150, 243);
}
.navbar-nav .pm-dropdown .dropdown-menu {
	background-color: #FFFFFF;
	font-size: 13px;
	background-color: rgb(245, 245, 245);
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	transition: height .2s ease-in-out;
	min-width: 200px;
	*width: 200px;
	position: absolute;
}
.navbar-nav .alert-dropdown .dropdown-menu {
	background-color: #FFFFFF;
	font-size: 13px;
	background-color: rgb(245, 245, 245);
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	transition: height .2s ease-in-out;
	min-width: 200px;
	*width: 200px;
	position: absolute;
}
.navbar-nav .dropdown-menu-right {
	background-color: #FFFFFF;
	font-size: 13px;
	background-color: rgb(245, 245, 245);
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	transition: height .2s ease-in-out;
	min-width: 200px;
	*width: 200px;
	position: absolute;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.emojione {
	height: 24px;
	width: 24px;
}
