/*

    VERSION: 2.0
    URL: https://jonafeucht.de
    AUTHOR: Jona Feucht


*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Montserrat');

.bg-danger {
	background-color: #C9001D !important;
}

.panel-danger {
	border-color: #C9001D !important;
}

.panel-danger .panel-heading {
	background-color: #C9001D !important;
	border-color: #C9001D !important;
	color: #fff !important;
}

.btn-danger {
	background-color: #C9001D !important;
	color: #fff !important;
}

.home-header {
	background-image: url('../img/bg.jpg');
	padding-top: 5rem;
	height: 450px;
}

.home-header .lg {
	font-size: 125%;
}

.home-footer {
	padding-top: 1rem;
	height: 150px;
	color: rgba(255,255,255,.5) !important;
	background-color: #000;
}

.home-footer a {
	color: rgba(255,255,255,.5) !important;
}

.home-news {
	background-color: #fff;
}
.home-news
.blue-bg {
	background-color: #54b4eb;
}

.global-header {
	padding-top: 2rem;
}

.white-text {
	color: #fff !important;
}

/*
 *  Temp breadcrumb fix
 */
.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #eceeef;
  border-radius: .25rem;
}

.breadcrumb::after {
  display: table;
  clear: both;
  content: "";
}

.breadcrumb > li {
  float: left;
}

.breadcrumb > li + li::before {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #818a91;
  content: "/";
}

.breadcrumb > .active {
  color: #818a91;
}

/*
 *  Remove auto-caret
 */
.no-caret::after {
	border: none;
}

.custom-nav-exclaim {
	color: red;
}

.jumbotron h1 {
	color: #fff;
}
.jumbotron hr {
	width: 30%;
	border: 1px solid #fff;
}

/* navigation section */
.navbar-default {
	background: #2A7BA1;
	border: none;
    border-radius: 0;
    border-color: transparent;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.03);
	margin: 0 !important;
}
.navbar-default img {
    vertical-align: middle;
    margin-top: 4px;
}
.navbar-default .navbar-nav .dropdown-menu a {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
    text-transform: uppercase;
	line-height: 40px;
}
.navbar-default .navbar-nav li a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
    text-transform: uppercase;
	line-height: 40px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
	line-height: 40px;
}
.navbar-default .navbar-nav > .active > a {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	outline: none;
    font-size: 13px;
	padding-right: 15px;
	padding-left: 20px;
	line-height: 40px;
}
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #333;
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
    cursor: crosshair;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
    text-align: center;
	letter-spacing: 1px;
}
.navbar-brand {
    margin-right: -15px;
}
.navbar-brand a {
	color: #333;
	font-weight: 200;
	outline: none;
    font-size: 24px;
	padding-right: 15px;
	padding-left: 20px;
    line-height: 35px;
}
.navbar-default .navbar-nav .dropdown-menu li a {
    color: #696969;
    background: #fff;
    text-transform: uppercase;
    text-align: left;
    border-top: 0;
}
.navbar-default .navbar-nav .dropdown-menu li a:hover {
    color: #2A7BA1;
    background: #fff;
    text-transform: uppercase;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.emojione {
	height: 24px;
	width: 24px;
}
